<!-- -*- mode: XML -*- -->
<launch>
  <node pkg="uta_racecar" type="uta-racecar.py" name="uta_racecar">
    <param name="ZED_IMAGE_WIDTH" type="int" value="1280"/>
    <param name="ZED_IMAGE_HEIGHT" type="int" value="720"/>
  </node>
  <!-- <node pkg="uta_racecar" type="process_usb_capture.py" name="process_usb_capture">
    <param name="ZED_IMAGE_WIDTH" type="int" value="1280"/>
    <param name="ZED_IMAGE_HEIGHT" type="int" value="720"/>
  </node> -->
  
</launch>
